{{#if hasName}}
<div>
    <hr>
    {{#each users}}
    <div>
        <ul>
            <li>Name: {{this.name}} - Age: {{this.age}}</li>
        </ul>
    </div>
    {{/each}}
</div>
{{else}}
<div>
    <h1>No users found</h1>
</div>
{{/if}}